<% include partials/header %>
<div class="container">
  <div class="jumbotron">
    <h1>Hello <%= credentials.name %></h1>
  </div>
</div>
<div class="container">
    <div id="accordion">
  <%data.forEach((element) =>{%>
    
        <div class="card">
          <div class="card-header" id=<%= element.id %>>
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#<%= element.collapseId %>" aria-expanded="true" aria-controls=<%= element.collapseId %></button>
                <%= element.title %>
              </button>
            </h5>
          </div>
      
          <div id=<%= element.collapseId %> class="collapse show" aria-labelledby=<%= element.id %> data-parent="#accordion">
            <div class="card-body">
              <%= element.details %>
            </div>
          </div>
        </div>
      
  <%})%>
</div>
</div>

<% include partials/footer %>